html {
  font-size: 14px;
}

.validation-message {
    color: red;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

label.error {
    color: #a94442;
}

table.table-striped td {
    font-size: 20px;
}

table.dataTable td {
    font-size: 20px;
}